.footer {
    background-color: rgb(245, 245, 245);
    position: fixed;
    font-size: 1em;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    border-top: 1px solid rgb(229, 229, 229);
    padding: 0.8em;
    height: 3.8em;
    position: fixed;
}

.main {
    overflow: auto;
    top: 50px;
    position: absolute;
    bottom: 5em;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    position: absolute;
    width: 100%;
    bottom: 80px;
}



body {

}


.hide {
    display: none;
}


#top {
    z-index: 1;
}




.login {
    display: block;
    margin-top: 130px;
}

.login-form {
    width: 50%;
    min-width: 500px;
    max-width: 800px;
    margin: auto;
}





a.disabled {
    pointer-events: none;
    cursor: default;
}

.page{
    padding-bottom: 100px;
}

/*images page end*/