.footer {
    background-color: rgb(245, 245, 245);
    font-size: 1em;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    border-top: 1px solid rgb(229, 229, 229);
    padding: 0.8em;
    height: 3.8em;
}

.main {
    overflow: auto;
    top: 10px;
    /*position: absolute;*/
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    width: 100%;
    bottom: 20px;
    height:100%;
    min-height:500px;
}


.accounts{
    margin: 20px auto auto auto;
    width: 80%;
    min-width: 500px;
    max-width: 900px;
}
.content{
    height:90%;
    min-height:600px;
}

.hide {
    display: none;
}


#top {
    z-index: 1;
}



.login{
    display: block;

}

.login-form,.main-form {
    width: 50%;
    min-height: 600px;
    max-width: 800px;
    margin: auto;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}

.page{
    padding-bottom: 100px;
}


.error{
    width: 50%;
    min-width: 500px;
    max-width: 800px;
    margin: auto;
}