<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title><span th:utext="舰队收藏" th:remove="tag"></span></title>


</head>
<body>
<div class="content" layout:fragment="content">
    <div class="main">
        <div id="flashWrap" style="width: 800px; margin-left: auto; margin-right: auto; height: 480px;">
        </div>
    </div>
    <script th:inline="javascript">
        /*<![CDATA[*/

        var flashUrl = location.protocol + '//' + location.hostname + (location.port ? ':' + location.port : '') + [[${flash}]];
        var obj = $("<embed></embed>");
        obj.attr("id", "externalswf");
        obj.attr("width", "800");
        obj.attr("height", "480");
        obj.attr("quality", "high");
        obj.attr("wmode", "opaque");
        obj.attr("bgcolor", "#000000");
        obj.attr("allowscriptaccess", "always");
        obj.attr("base", "/kcs/");
        obj.attr("type", "application/x-shockwave-flash");
        obj.attr("src", flashUrl);
        $("#flashWrap").append(obj);
        /*]]>*/
    </script>
</div>
</body>
</html>