<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title><span th:utext="DMM账号列表" th:remove="tag"></span></title>
</head>
<body>

<div class="content" layout:fragment="content">

    <div class="main">


        <div class="accounts">
            <div class="page-header">
                <h2 th:text="账号列表"></h2>
            </div>
            <a th:href="@{/account/add}" th:text="添加" class="btn btn-default"></a>
            <table class="table">
                <thead>
                <tr>
                    <th>用户名</th>
                    <th>密码</th>
                    <th>上次登陆时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="account: ${list}">
                    <td th:text="${account.username}"></td>
                    <td th:text="'******'"></td>
                    <td th:text="${account.lastLogin}"></td>
                    <td>
                        <a th:href="@{/account/login(id=${account.id})}">登录</a>
                        <a>进入游戏</a>
                        <a th:href="@{/account/edit(id=${account.id})}">编辑</a>
                        <a th:href="@{/account/delete(id=${account.id})}"> 删除</a>
                    </td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>
</body>
</html>