<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title><span th:utext="舰队收藏-POI" th:remove="tag"></span></title>
    <style>
        body {
            margin: 0;
        }
    </style>
</head>
<body>
<div id="flashWrap">
</div>
<script th:src="@{/webjars/jquery/2.2.4/jquery.min.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    // POI不支持https，所以这里强制写成http
    var s = "http:" + '//' + location.hostname + (location.port ? ':' + location.port : '');
    var flashUrl = s + [[${flash}]];
    var obj = $("<embed></embed>");
    obj.attr("id", "externalswf");
    obj.attr("width", "800");
    obj.attr("height", "480");
    obj.attr("quality", "high");
    obj.attr("wmode", "opaque");
    obj.attr("bgcolor", "#000000");
    obj.attr("allowscriptaccess", "always");
    obj.attr("base", s + "/kcs/");
    obj.attr("type", "application/x-shockwave-flash");
    obj.attr("src", flashUrl);
    $("#flashWrap").append(obj);
    /*]]>*/
</script>
</body>
</html>